.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px #646cff;
    margin-bottom: 7rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px; /* Adjust size as needed */
    width: 80px;
  }
  
  .nav-links {
    list-style: none;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #646cff;
  }

  .sign .signing{
    margin-left: 10px;
  }

  .sign span{
    margin-left: 10px;
    font-size: 0.8rem;
  }

  .cart-icon svg {
    font-size: 1.3rem; /* Adjust as needed */
    position: relative;
  }

  .sign-cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .count {
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -8px;
    right: -10px;
  }

  .cart-icon-size {
    position: relative;
    display: inline-block;
  }
  
  
  
  